.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.profile h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

mat-card-actions {
  gap: 1rem;
  margin: 0.5rem;
}
