<div class="cards-container">
  <mat-card class="product-card" *ngFor="let product of products">
    <div class="card-image">
      <img mat-card-image src="{{ product.image }}" alt="{{ product.title }}">
    </div>
    <mat-card-content class="card-body">
      <a href="" [title]="product.title + ' details'">
        <h3>{{ (product.title.length > 60) ? (product.description|slice:0:60) + '...' : product.title }}</h3>
      </a>
      <p>{{ (product.description.length > 120) ? (product.description|slice:0:120) + '...' : product.description }}
      </p>
      <span>${{ product.price }}</span>
    </mat-card-content>
  </mat-card>
</div>
